.theme-toggle{
    display: flex;
    flex-direction: column;
    inline-size: 2.5rem;
}

#toggleContainer{
    background-color: var(--color-background-toggle); 
    block-size: .8rem;
    border-radius:99999px;
}

#toggle{
    inline-size:.5rem; 
    block-size: .5rem; 
    background-color: var(--color-keys-primary-background); 
    border-radius: 9999px; 
    position: relative; 
    top:5px; 
    left:6px;
}

#toggle.horizTranslate2 { 
    transition: transform 0.1s linear;
    transform: translateX(27px);
}
#toggle.horizTranslate3 { 
    transition: transform 0.1s linear;
    transform: translateX(56px);
}
#toggle.horizTranslate1 {
    transition: transform 0.1s linear;
    transform: translateX(0px); 
}


#toggleLabelContainer{
    text-align:center;
    margin-block-end: -.8rem;
    z-index: 2;
}

.toggle__label{
    display:inline-block;
    inline-size: .8rem;
    padding-block-end:1rem; 
    cursor: default; 
    font-size: 12px;
    background-color: transparent;
    border: none;

    color: var(--color-text);
}