.theme-toggle{
    display: flex;
    flex-direction: column;
    inline-size: 2.5rem;
}

#toggleContainer{
    background-color: #222D41; 
    block-size: .8rem;
    border-radius:99999px;
}

#toggle{
    inline-size:.5rem; 
    block-size: .5rem; 
    background-color:#DB3D2B; 
    border-radius: 9999px; 
    position: relative; 
    top:5px; 
    left:6px;
}

#toggle.horizTranslate2 { 
    -webkit-transition: -webkit-transform 0.1s linear; 
    -webkit-transform: translateX(27px);
}
#toggle.horizTranslate3 { 
    -webkit-transition: -webkit-transform 0.1s linear; 
    -webkit-transform: translateX(56px);
}
#toggle.horizTranslate1 { 
    -webkit-transition: -webkit-transform 0.1s linear; 
    -webkit-transform: translateX(0px);
}


#toggleLabelContainer{
    color:#ffffff;
    font-family:Arial; 
    text-align:center;
    margin-block-end: -.8rem;
    z-index: 2;
}

.toggle__label{
    display:inline-block;
    inline-size: .8rem;
    padding-block-end:1rem; 
    cursor: default; 
    font-size: 12px;
    background-color: transparent;
    border: none;
}