.calc-wrapper {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    max-inline-size: 20rem;
    margin-inline: auto;
    padding: .6rem;

    background-color: var(--color-background-main);
}

.calc__header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.calc__logo {
    color: var(--color-text);
}