.calc-wrapper {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    max-inline-size: 20rem;
    margin-inline: auto;
    padding: .6rem;

    background-color: var(--color-background-main);
}