.keyboard__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat( 5, 1fr);
    gap: .5rem;
    background-color: var(--color-background-toggle);
    padding: .7rem;
    border-radius: 12px;
}

.span-2 {
    grid-column: span 2;
}

.keyboard__key{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: .5rem .4rem;
    border: none;
    border-radius: 4px;

    background-color: var(--color-keys-default-background);
    box-shadow: 0px 3px 0px var(--color-keys-default-shadow);
    color: var(--color-keys-default-text);

    &:hover {
        filter:brightness(1.3)
    }

    &:hover:active {
        filter:unset;
    }

    &[data-type="accent"]{
        background-color: var(--color-keys-accent-background);
        box-shadow: 0px 3px 0px var(--color-keys-accent-shadow);
        color: var(--color-keys-accent-text);
        font-size: 20px;
    }

    &[data-type="primary"]{
        background-color: var(--color-keys-primary-background);
        box-shadow: 0px 3px 0px var(--color-keys-primary-shadow);
        color: var(--color-keys-primary-text);
    }
}
