.display-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:.5rem;
    padding-inline: .6rem;
    block-size: 2.5rem;
    border-radius: 10px;
    overflow: hidden;

    background-color: var(--color-background-screen);
    color: var(--color-text);
}